.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  @include mq(tablet) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @include mq(desktop) {
    width: 1280px;
  }
}
