.team-modal-close {
    background: transparent;
    z-index: 30;
  }
  .team-modal {
    background-color: $color-extra-background;
    border-radius: 5px;
   }
  .glide__slide__block_in {
    padding: 20px;
  }
 
  .glide__slide__block {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .student__text {
    display: inline-block;
    padding: 3px;
    text-align: center;
    color: $color-base-text;
  }
  .student__text_name {
    border-bottom: 1px solid $color-brand-text;
  }
  .team__img {
    background: linear-gradient(28deg, $color-brand-text, #8e6549), #121111;
    border-radius: 50%;
    margin-bottom: 10px;
    box-shadow: 0 5px 20px #7e6858;
  }
  .student__close__icon {
    width: 10px;
    height: 10px;
  }
  .student {
    display: flex;
    flex-direction: column;
  }
  .team__item {
    display: flex;
    flex-direction: column;
  }
  .soc_icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
  }
  .soc_icon {
    display: block;
    transform: scale(1);
    transition: transform $transitionDuration $cubic;
    .icon--hoverfocus:hover & {
      transform: scale(1.2);
    }
    .icon--hoverfocus:focus & {
      transform: scale(0.9);
    }
  }
  .icon_git {
    fill: $color-extra-background;
  }
  .icon-linedin {
    fill: #4169e1;
  }
  
.glide__bullet {
    width: 10px;
    height: 10px;
    cursor: pointer;
    border: 0.25px solid $color-brand-text;
    border-radius: 50%;
    margin: 0px 0.25em;
    padding: 0;
    line-height: 0;
    transition: all $transitionDuration $cubic;
    box-shadow: 0 0.25em 0.5em #0000001a;
    &:hover,
    &:focus {
        background-color: $color-brand-text;
    }
  }
  .glide__slide{
    transition: all 500ms $cubic;
  }