.modal__log-in {
  border-radius: 5px;
  background-color: $color-extra-text;
  align-items: center;
  @include mq(mobile) {
    width: 280px;
    padding-right: 20px;
    padding-left: 20px;
  }
  @include mq(tablet) {
    width: 470px;
    padding-right: 30px;
    padding-left: 30px;
  }
  @include mq(desktop) {
    width: 520px;
    padding-right: 30px;
    padding-left: 30px;
  }
}

.modal_login__title_signIn,
.modal_login__wrap_checkbox,
.modal_login__button_register,
.modal_login__button_confirm {
  transition: all $transitionDuration $cubic;
}

.modal_login__title_signIn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: $color-base-text;
  margin-bottom: 25px;
  @include mq(desktop) {
    line-height: 1.15;
  }
}

.modal_login__wrap_password,
.modal_login__wrap_email {
  position: relative;
  margin-bottom: 15px;
}

.modal_login__wrap_password {
  margin-bottom: 40px;
}
.modal_login__label {
  display: block;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: $color-second-text;
  margin-bottom: 4px;
}

.modal_login__input {
  position: relative;
  width: 240px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 33px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 5px;
  transition: border-color $transitionDuration $cubic;
  font-size: 14px;
  line-height: 1.15;
  @include mq(tablet) {
    width: 410px;
  }
  @include mq(desktop) {
    width: 460px;
  }
}

.modal_login__icon {
  position: absolute;
  top: 30px;
  left: 10px;
  fill: currentColor;
  transition: fill $transitionDuration $cubic;
}

.modal_login__input:hover,
.modal_login__input:focus,
.modal_login__input:hover + .modal_login__icon,
.modal_login__input:focus + .modal_login__icon,
.modal_login__textarea:hover,
.modal_login__textarea:focus {
  fill: $color-brand-text;
  border-color: $color-brand-text;
}

.modal_login__button_show_password {
  position: absolute;
  right: 10px;
  top: 28px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  transition: fill $transitionDuration $cubic;
  &:hover {
    fill: $color-brand-text;
  }
}

.modal_login__buttons_wrap {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}
