$transitionDuration: 250ms;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$mainFontFamily: 'Roboto', sans-serif;

$color-brand-text: #ff6b08;
$color-brand-background: #ff6b01;
$color-base-text: #000000;
$color-second-text: #8c8c8c;
$color-extra-text: #ffffff;
$color-extra-background: #f7f7f7;
$color-background-slider: #780b1ed1;
$color-slider: #182025b1;
$color-extra: #ff001b;
