.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  padding: 15px;
  @media screen and (min-width: 490px) {
    gap: 3px;
  }
}
.footer_text__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer__container {
  display: flex;
  flex-direction: column;
  background: $color-extra-background;
}
.icon__heart {
  width: 14px;
  height: 13px;
  margin: 0 10px;
  animation-name: heard_pulse;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
}
//aminate
@keyframes heard_pulse {
  0% {
    transform: scale(0.9);
  }
  10% {
    transform: scale(0.95);
  }
  20% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.05);
  }
  40% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  60% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(1.05);
  }

  80% {
    transform: scale(1);
  }
  90% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}
.footer__text {
  font-family: $mainFontFamily;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: inherit;
  @media screen and (max-width: 320px) {
    font-size: 12px;
  }
}

//modal

.team-modal-close {
  background: transparent;
  z-index: 30;
}
.team-modal {
  background-color: $color-extra-background;
  border-radius: 30px;
}
.glide__slide__block_in {
  padding: 20px;
}
.team_modal_btn {
  margin-left: 3px;
  outline: none;
  background-color: transparent;
  color: inherit;
  border: none;
  font-family: $mainFontFamily;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  text-decoration: underline;
  cursor: pointer;
  @media screen and (max-width: 320px) {
    font-size: 12px;
  }
  &:hover,
  &:focus {
    color: $color-brand-text;
  }
}
.glide__slide__block {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.student__text {
  display: inline-block;
  padding: 3px;
  text-align: center;
}
.student__text_name {
  border-bottom: 1px solid $color-brand-text;
}
.team__img {
  background: linear-gradient(28deg, $color-brand-text, #8e6549), #121111;
  border-radius: 50%;
  margin-bottom: 10px;
  box-shadow: 0 5px 20px #7e6858;
}
.student__close__icon {
  width: 10px;
  height: 10px;
}
.student {
  display: flex;
  flex-direction: column;
}
.team__item {
  display: flex;
  flex-direction: column;
}
.soc_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.soc_icon {
  display: block;
  transform: scale(1);
  transition: transform $transitionDuration $cubic;
  .icon--hoverfocus:hover & {
    transform: scale(1.2);
  }
  .icon--hoverfocus:focus & {
    transform: scale(0.9);
  }
}
.icon_git {
  fill: $color-extra-background;
}
.icon-linedin {
  fill: #4169e1;
}
.footer__logo_block {
  max-width: 170px;
}
.footer__logo {
  display: flex;
  align-items: center;
  gap: 8px;
  color: $color-brand-text;
  margin: 10px 0;
  transform: scale(1);
  transition: transform $transitionDuration $cubic;
  &:hover,
  &:focus {
    transform: scale(1.1);
    text-shadow: none;
  }
}
.logo__name__footer {
  display: block;
  font-size: 20px;
}
.icon-soc {
  fill: $color-brand-text;
  // color: transparent;
}
.app__link {
  transform: scale(1);
  transition: transform $transitionDuration $cubic;
  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}
.footer__soc {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: space-around;
  padding: 10px;
  border: 1px solid $color-brand-text;
  border-left: $color-brand-text;
  border-right: $color-brand-text;
}
.footer__networ--link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.footer__app-store {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footer__support,
.footer__app,
.footer__network {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.footer__soc-text {
  font-family: $mainFontFamily;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  text-transform: uppercase;
  color:  inherit;
}
.footer__soc--block {
  display: flex;
  justify-content: center;
  gap: 30px;
  @media screen and (min-width: 1280px) {
    gap: 130px;
  }
}
.footer__soc-link {
  font-family: $mainFontFamily;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: inherit;
  &:hover,
  &:focus {
    color: $color-brand-text;
  }
}
