.header {
  color: $color-extra-text;
  background-image: url(../images/header-bg-mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 230px;
  @include mq(retina) {
    background-image: url(../images/header-bg-mobile@2x.jpg);
  }
  @include mq(tablet) {
    background-image: url(../images/header-bg-tablet.jpg);
    @include mq(retina) {
      background-image: url(../images/header-bg-tablet@2x.jpg);
    }
  }
  @include mq(desktop) {
    background: url(../images/left-part.png), url(../images/right-part.png),
      #10181d;
    background-position: left, right, center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &.library {
    color: $color-extra-text;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/library-bg-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 230px;
    @include mq(retina) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/library-bg-mobile@2x.jpg);
    }
    @include mq(tablet) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/library-bg-tablet.jpg);
      @include mq(retina) {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.56),
            rgba(0, 0, 0, 0.56)
          ),
          url(../images/library-bg-tablet@2x.jpg);
      }
    }
    @include mq(desktop) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/library-bg-desktop.jpg);
      @include mq(retina) {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.56),
            rgba(0, 0, 0, 0.56)
          ),
          url(../images/library-bg-desktop@2x.jpg);
      }
    }
  }

  &__container {
    position: relative;
    height: 230px;
    padding-top: 40px;
    @include mq(desktop) {
      padding-top: 45px;
    }
  }

  &__warning {
    margin-top: 16px;
    color: $color-extra;
    @include font(400, 14, 1.1, null);
    text-align: center;
  }
}

.logo__name {
  @include mq(mobile-only) {
    display: none;
  }
  @include font(null, 30, 1.2, null);
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include font(null, 12, 1.17, null);
  margin-bottom: 54px;
  @include mq(tablet) {
    margin-bottom: 40px;
  }

  &.library {
    margin-bottom: 60px;
    @include mq(tablet) {
      margin-bottom: 40px;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 8px;
    text-shadow: none;
    transform: scale(1);
    transition: transform $transitionDuration $cubic,
      text-shadow $transitionDuration $cubic;
    outline: none;

    &:hover,
    &:focus {
      text-shadow: 0 5px 10px $color-brand-background;
      transform: scale(1.25);
    }
  }

  &__list {
    display: flex;
    text-transform: uppercase;
  }

  &__item:not(:last-of-type) {
    margin-right: 40px;
    @media screen and (max-width: 400px) {
      margin-right: 10px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 5px;
    text-shadow: none;
    outline: none;
    transform: scale(1);
    transition: transform $transitionDuration $cubic,
      text-shadow $transitionDuration $cubic;

    &:hover,
    &:focus {
      transform: scale(1.25);
      text-shadow: 0 5px 10px $color-brand-background;
    }
  }

  &__link--current-page {
    position: relative;

    &::after {
      content: '';

      position: absolute;
      bottom: -3px;
      left: 0;

      height: 3px;
      width: 100%;

      background-color: $color-extra;
    }
  }
  &__icon {
    fill: $color-extra-text;
  }
}

.search {
  position: relative;
  text-align: center;

  &__field {
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 0.5px solid $color-extra-text;
    text-shadow: none;
    color: $color-extra-text;
    outline: none;
    border-radius: 10px;
    transition: text-shadow 500ms $cubic, border $transitionDuration $cubic,
      background-color $transitionDuration $cubic;
    @include mq(tablet) {
      width: 50%;
    }
    @include mq(desktop) {
      width: 30%;
    }

    &::placeholder {
      @include font(400, 14, 1.1, null);
      color: $color-extra-text;
    }

    &:hover,
    &:focus {
      text-shadow: 0 5px 10px $color-brand-background;
      border-bottom: 0.5px solid $color-brand-background;
      background-color: #ff6b0169;
    }
  }

  &__button {
    position: absolute;
    top: 11px;
    right: 10px;
    @include mq(tablet) {
      right: 185px;
    }
    @include mq(desktop) {
      right: 435px;
    }
    &:hover,
    &:focus {
      transform: scale(1.25);
      background-color: #ff6b0169;
      border-radius: 5px;
    }
  }
}

.list__button {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.button {
  display: flex;
  gap: 5px;
  @include font(null, 12, 1.17, null);
  color: inherit;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  transform: scale(1);
  outline: none;
  fill: $color-extra-text;
  transition: transform $transitionDuration $cubic,
    background-color $transitionDuration $cubic,
    border-radius $transitionDuration $cubic;

  // !menu filtres on button

  &__filters {
    position: relative;
    left: 20%;
    @include mq(tablet) {
      left: 27%;
    }
    @include mq(desktop) {
      left: 37%;
    }
  }

  &__settings {
    flex-direction: row-reverse;
    position: relative;
    @include mq(tablet) {
      right: 27%;
    }
  }

  &:hover,
  &:focus {
    border-radius: 10px;
    transform: scale(1.25);
    text-shadow: 0 5px 10px $color-brand-background;
  }
}

.menu__filters {
  position: absolute;
  bottom: -27px;
  @include mq(mobile-only) {
    left: 10%;
    transform: translateX(-50%);
  }
  left: -17%;
  display: flex;
  z-index: 3;
  background-color: #10181d;
  gap: 20px;
  padding: 5px 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  display: none;
}
.settings__item:first-of-type:hover .menu__filters,
.settings__item:first-of-type:focus-within .menu__filters {
  display: flex;
}

.menu__settings {
  position: absolute;
  bottom: -27px;
  @include mq(mobile-only) {
    left: 87%;
    transform: translateX(-50%);
  }
  left: 70%;
  display: flex;
  z-index: 1;
  background-color: #10181d;
  gap: 20px;
  padding: 5px 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  display: none;
}
.settings__item:last-of-type:hover .menu__settings,
.settings__item:last-of-type:focus-within .menu__settings {
  display: flex;
}

.years-container {
  position: absolute;
  top: 90%;
  left: 40%;
  background-color: #10181d;
  padding: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  display: none;
}

.genres-container {
  position: absolute;
  top: 90%;
  left: 0;
  background-color: #10181d;
  padding: 5px 0px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  display: none;
}

.genres-container .button,
.years-container .button {
  padding: 5px 10px;
}

.menu-filters--genres:hover .genres-container,
.menu-filters--genres:focus .genres-container {
  display: block;
}

.menu-filters--years:hover .years-container,
.menu-filters--years:focus .years-container {
  display: block;
}

// !menu filters on form

.form-filters {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  @include mq(tablet) {
    flex-direction: row;
    gap: 20px;
  }
  &__select {
    background-color: transparent;
    color: $color-extra-text;
    border: none;
    @include font(null, 12, 1.17, null);
    text-transform: uppercase;
    outline: none;
  }
}
option {
  background-color: #10181d;
}
.is-hidden {
  display: none;
}

.menu-filters--settings {
  display: flex;
  gap: 20px;
}

.settings__list {
  max-width: 360px;
  justify-content: space-between;
  display: flex;
  position: relative;
  bottom: -62px;
  margin: 0 auto;
  @include mq(desktop) {
    bottom: -55px;
  }
}

.btn__modal--library {
  border-color: $color-extra-text;
  color: $color-extra-text;
}
