.header {
  color: $color-extra-text;
  background-image: url(../images/header-bg-mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 230px;
  @include mq(retina) {
    background-image: url(../images/header-bg-mobile@2x.jpg);
  }
  @include mq(tablet) {
    background-image: url(../images/header-bg-tablet.jpg);
    @include mq(retina) {
      background-image: url(../images/header-bg-tablet@2x.jpg);
    }
  }
  @include mq(desktop) {
    background: url(../images/left-part.png), url(../images/right-part.png),
      #10181d;
    background-position: left, right, center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &.library {
    color: $color-extra-text;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/library-bg-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 230px;
    @include mq(retina) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/library-bg-mobile@2x.jpg);
    }
    @include mq(tablet) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/library-bg-tablet.jpg);
      @include mq(retina) {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.56),
            rgba(0, 0, 0, 0.56)
          ),
          url(../images/library-bg-tablet@2x.jpg);
      }
    }
    @include mq(desktop) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/library-bg-desktop.jpg);
      @include mq(retina) {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.56),
            rgba(0, 0, 0, 0.56)
          ),
          url(../images/library-bg-desktop@2x.jpg);
      }
    }
  }

  &__container {
    position: relative;
    height: 230px;
    padding-top: 40px;
    @include mq(desktop) {
      padding-top: 45px;
    }
  }

  &__warning {
    margin-top: 16px;
    color: $color-extra;
    @include font(400, 14, 1.1, null);
    text-align: center;
  }
}

.logo__name {
  @include mq(mobile-only) {
    display: none;
  }
  @include font(null, 30, 1.2, null);
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include font(null, 12, 1.17, null);
  margin-bottom: 54px;
  @include mq(tablet) {
    margin-bottom: 40px;
  }

  &.library {
    margin-bottom: 60px;
    @include mq(tablet) {
      margin-bottom: 40px;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 8px;
    text-shadow: none;
    transform: scale(1);
    transition: transform $transitionDuration $cubic,
      text-shadow $transitionDuration $cubic;
    outline: none;

    &:hover,
    &:focus {
      text-shadow: 0 5px 10px $color-brand-background;
      transform: scale(1.25);
    }
  }

  &__list {
    display: flex;
    text-transform: uppercase;
  }

  &__item:first-of-type {
    margin-right: 40px;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 5px;
    text-shadow: none;
    outline: none;
    transform: scale(1);
    transition: transform $transitionDuration $cubic,
      text-shadow $transitionDuration $cubic;

    &:hover,
    &:focus {
      transform: scale(1.25);
      text-shadow: 0 5px 10px $color-brand-background;
    }
  }

  &__link--current-page {
    position: relative;

    &::after {
      content: '';

      position: absolute;
      bottom: -3px;
      left: 0;

      height: 3px;
      width: 100%;

      background-color: $color-extra;
    }
  }
  &__icon {
    fill: $color-extra-text;
  }
}

.search {
  position: relative;
  text-align: center;

  &__field {
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 0.5px solid $color-extra-text;
    text-shadow: none;
    color: $color-extra-text;
    outline: none;
    border-radius: 10px;
    transition: text-shadow 500ms $cubic, border $transitionDuration $cubic,
      background-color $transitionDuration $cubic;
    @include mq(tablet) {
      width: 50%;
    }
    @include mq(desktop) {
      width: 30%;
    }

    &::placeholder {
      @include font(400, 14, 1.1, null);
      color: $color-extra-text;
    }

    &:hover,
    &:focus {
      text-shadow: 0 5px 10px $color-brand-background;
      border-bottom: 0.5px solid $color-brand-background;
      background-color: #ff6b0169;
    }
  }

  &__button {
    position: absolute;
    top: 11px;
    right: 10px;
    @include mq(tablet) {
      right: 185px;
    }
    @include mq(desktop) {
      right: 435px;
    }
    &:hover,
    &:focus {
      transform: scale(1.25);
      background-color: #ff6b0169;
      border-radius: 5px;
    }
  }
}

.is-hidden {
  display: none;
}

.list__button {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.button {
  display: flex;
  gap: 5px;
  @include font(null, 12, 1.17, null);
  color: inherit;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  transform: scale(1);
  outline: none;
  fill: $color-extra-text;
  transition: transform $transitionDuration $cubic,
    background-color $transitionDuration $cubic,
    border-radius $transitionDuration $cubic;

  // &__filters {
  //   position: absolute;
  //   bottom: 10px;
  //   left: 20px;
  //   @include mq(tablet) {
  //     left: 27%;
  //   }
  //   @include mq(desktop) {
  //     left: 37%;
  //   }
  // }

  // &__settings {
  //   flex-direction: row-reverse;
  //   position: absolute;
  //   bottom: 10px;
  //   right: 20px;
  //   @include mq(tablet) {
  //     right: 27%;
  //   }
  //   @include mq(desktop) {
  //     right: 37%;
  //   }
  // }

  &:hover,
  &:focus {
    background-color: #ff6b0169;
    border-radius: 10px;
    transform: scale(1.25);
  }
}

.form-filters {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  @include mq(tablet) {
    flex-direction: row;
    gap: 20px;
  }
  &__select {
    background-color: transparent;
    color: $color-extra-text;
    border: none;
    @include font(null, 12, 1.17, null);
    text-transform: uppercase;
    outline: none;
  }
}
option {
  background-color: #10181d;
}
