.header {
  color: $color-extra-text;
  background-image: url(../images/header-bg-mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 230px;
  @include mq(retina) {
    background-image: url(../images/header-bg-mobile@2x.jpg);
  }
  @include mq(tablet) {
    background-image: url(../images/header-bg-tablet.jpg);
    @include mq(retina) {
      background-image: url(../images/header-bg-tablet@2x.jpg);
    }
  }
  @include mq(desktop) {
    background: url(../images/left-part.png), url(../images/right-part.png),
      #10181d;
    background-position: left, right, center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &.library {
    color: $color-extra-text;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/library-bg-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 230px;
    @include mq(retina) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/library-bg-mobile@2x.jpg);
    }
    @include mq(tablet) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/library-bg-tablet.jpg);
      @include mq(retina) {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.56),
            rgba(0, 0, 0, 0.56)
          ),
          url(../images/library-bg-tablet@2x.jpg);
      }
    }
    @include mq(desktop) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/library-bg-desktop.jpg);
      @include mq(retina) {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.56),
            rgba(0, 0, 0, 0.56)
          ),
          url(../images/library-bg-desktop@2x.jpg);
      }
    }
  }

  &__container {
    position: relative;
    height: 230px;
    padding-top: 40px;
    @include mq(desktop) {
      padding-top: 45px;
    }
  }

  &__warning {
    margin-top: 16px;
    color: $color-extra;
    @include font(400, 14, 1.1, null);
    text-align: center;
  }
}

.logo__name {
  @include mq(mobile-only) {
    display: none;
  }
  @include font(null, 30, 1.2, null);
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include font(null, 12, 1.17, null);
  margin-bottom: 54px;
  @include mq(tablet) {
    margin-bottom: 40px;
  }

  &.library {
    margin-bottom: 60px;
    @include mq(tablet) {
      margin-bottom: 40px;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 8px;
    text-shadow: none;
    transform: scale(1);
    transition: transform $transitionDuration $cubic,
      text-shadow $transitionDuration $cubic;
    outline: none;

    &:hover,
    &:focus {
      text-shadow: 0 5px 10px $color-brand-background;
      transform: scale(1.25);
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
  }

  &__item:first-of-type,
  &__item:nth-child(-n + 2) {
    @media screen and (max-width: 400px) {
      margin-right: 20px;
    }
    margin-right: 40px;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 0px;
    text-shadow: none;
    outline: none;
    transform: scale(1);
    transition: transform $transitionDuration $cubic,
      text-shadow $transitionDuration $cubic;

    &:hover,
    &:focus {
      transform: scale(1.25);
      text-shadow: 0 5px 10px $color-brand-background;
    }
  }

  &__link--current-page {
    position: relative;

    &::after {
      content: '';

      position: absolute;
      bottom: 0;
      left: 0;

      height: 3px;
      width: 100%;

      background-color: $color-extra;
    }
  }
  &__icon {
    fill: $color-extra-text;
    &--log {
      @media screen and(max-width: 400px) {
        width: 16px;
        height: 16px;
      }
    }
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.search {
  position: relative;
  text-align: center;

  &__field {
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 0.5px solid $color-extra-text;
    text-shadow: none;
    color: $color-extra-text;
    outline: none;
    border-radius: 10px;
    transition: text-shadow $transitionDuration $cubic,
      border $transitionDuration $cubic,
      background-color $transitionDuration $cubic;
    @include mq(tablet) {
      width: 50%;
    }
    @include mq(desktop) {
      width: 30%;
    }

    &::placeholder {
      @include font(400, 14, 1.1, null);
      color: $color-extra-text;
    }

    &:hover,
    &:focus {
      text-shadow: 0 5px 10px $color-brand-background;
      border-bottom: 0.5px solid $color-brand-background;
      background-color: #ff6b0169;
    }
  }

  &__button {
    position: absolute;
    top: 11px;
    right: 10px;
    transition: scale $transitionDuration $cubic;
    @include mq(tablet) {
      right: 185px;
    }
    @include mq(desktop) {
      right: 435px;
    }
    &:hover,
    &:focus {
      transform: scale(1.25);
    }
  }
}

.list__button {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.button {
  display: flex;
  gap: 5px;
  @include font(null, 12, 1.17, null);
  color: inherit;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  transform: scale(1);
  outline: none;
  fill: $color-extra-text;
  transition: transform $transitionDuration $cubic,
    background-color $transitionDuration $cubic,
    border-radius $transitionDuration $cubic;

  &:hover,
  &:focus {
    border-radius: 10px;
    transform: scale(1.25);
    text-shadow: 0 5px 10px $color-brand-background;
  }
}

// !<!-- !button-settings-filtres -->
.filters-list {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: 3;
  gap: 20px;
}

.filters__button {
  padding: 10px 0px;
}

.genres-container {
  position: absolute;
  z-index: -1;
  display: flex;
  flex-direction: column;
  background-color: #10181d;
  align-items: center;
  padding: 5px 0px;
  top: 33px;
  left: -14px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: display $transitionDuration $cubic;
  display: none;
}

.years-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #10181d;
  align-items: center;
  top: 33px;
  left: 80px;
  padding: 5px 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: display $transitionDuration $cubic;
  display: none;
}

.genres-container .button,
.years-container .button {
  padding: 5px 10px;
}

.filter__item:first-of-type:hover .genres-container,
.filter__item:first-of-type:focus .genres-container,
.filter__item:nth-of-type(2):hover .years-container,
.filter__item:nth-of-type(2):focus .years-container {
  display: flex;
}

.settings__list {
  position: absolute;
  top: 30%;
  right: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
  @include mq(tablet) {
    top: 87%;
    right: 4%;
  }
}

.settings__button {
  display: flex;
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
  &--active {
    color: $color-brand-text;
    fill: $color-brand-text;
  }
}

.is-hidden {
  display: none;
}

@media screen and (max-width: 400px) {
  .wrap-is-hidden {
    display: none;
  }
}

.btn__modal--library {
  border-color: $color-extra-text;
  color: $color-extra-text;
}

.btn-active {
  color: $color-extra-text;
  text-shadow: 0 5px 10px $color-brand-text, 0 10px 15px $color-brand-text;
  transform: scale(1.25);
}

.settings__button--light {
  fill: #0000009c;
}
