.film-section {
    width: 480px;
    padding: 20px;
    .films {
    .film__item {
    width: 100%;
    max-width: 440px;
    margin-bottom: 20px;
    &:last-child{
        margin-bottom: 0;
    }
    .film__img {
        border-radius: 5px;
    }
    .films__title {
        margin-top: 10px;
        text-transform: uppercase;
        @include font(500, 12px, 1.33, 0.04em);
            }
        .films__genres {
            color: $color-brand-text;
            @include font(500, 12px, 1.33, 0.04em);
        }
        }
    }
}

// flex-basis: calc((100% - 20px) / 3);
// list-style: none;

// .top-films {
//     display: flex;
//     display: flex;
//     flex-wrap: wrap;
//     gap: 10px;
//     /* flex-basis: calc(100% - 10px) / 3; */
// }

.go-home {
    top: 93%;
    right: 0px;
    position: fixed;
    background-color: transparent;
    border: none;
}

.go-home .icon {
    display: inline-flex;
    fill: #18202591;
    transition: box-shadow 250ms linear, transform 250ms ease-in-out;
}

.go-home .icon:hover {
    fill: #780b1ed1;
}
.icon {
    display: inline-flex;
    width: 50px;
    height: 50px;
}
