.glide {
  position: relative;
  //   margin: 0 auto;
  //   @include mq(mobile) {
  //     min-width: 480px;
  //   }
  //   @include mq(tablet) {
  //     width: 768px;
  //   }
  //   @include mq(desktop) {
  //     width: 1280px;
  //   }
}
.caption {
  font-weight: 500;
  font-style: oblique;
  font-size: 20px;
  line-height: 1.2;
  color: $color-extra-background;
  text-shadow: 1px 1px 2px black, 0 0 20px $color-brand-background,
    0 0 5px $color-brand-text;
  text-align: center;
  margin-top: 15px;
}
.glide__track {
  max-width: 1200px;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
}
.glide__slides {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 10px;

  @include mq(mobile) {
    gap: 5px;
  }
  @include mq(tablet) {
    gap: 10px;
  }
  @include mq(desktop) {
    gap: 15px;
  }
}
.glide__slide {
  width: 350px;
  object-fit: cover;
  box-shadow: $transitionDuration $cubic;
  overflow: hidden;
  &:hover,
  &:focus {
    box-shadow: $transitionDuration $cubic;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
}

.glide__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7c6;
  color: $color-brand-text;
  font-size: 25px;
  border-radius: 5px;
  border: none;
  &:hover,
  &:focus {
    background-color: $color-brand-text;
    color: $color-extra-text;
  }
}
.glide__arrow--right,
.glide__arrow--left {
  width: 40px;
  height: 40px;
}
.glide__arrow--right {
  right: 5%;
  top: 50%;
}
.glide__arrow--left {
  left: 5%;
  top: 50%;
}
.glide__container {
  position: relative;
  overflow: hidden;
}
.glide__title {
  color: $color-extra-text;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
  padding: 5px;
}
.glide__genres {
  text-align: end;
  color: $color-brand-text;
  font-size: 12px;
}
.glide__img {
  border-radius: 8px;
}
.glide__text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 10px;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform $transitionDuration $cubic,
    box-shadow $transitionDuration $cubic;
}

.glide__link:hover .glide__text,
.glide__link:focus .glide__text {
  transform: translateY(70%);
  background-color: rgba(47, 48, 58, 0.8);
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  transition: transform $transitionDuration $cubic,
    box-shadow $transitionDuration $cubic;
}
