
.glide{
margin-right: auto;
margin-left: auto;
}

.glide__slides {
    display: flex;
    gap: 15px;
}

.glide__slide {
   
overflow: hidden;
    width: 350px;
}

.glide {
    position: relative;
}

.glide__arrow {
    color: #182025;
        background-color: #780b1ed1;
        border: 2px solid #795548;
        font-size: 25px;
        top: 40%;
        border-radius: 5px;
        padding: 5px 22px;
}