.glide__slides {
    display: flex;
    gap: 15px;
}

.glide__slide {

    width: 350px;
}

.glide {
    position: relative;
}

.glide__arrow {
    font-size: 25px;
    color: #3f51b5;
    background-color: #ffeb3b63;
    border: 2px solid #ffeb3b;
    top: 90%;
}