.theme--dark {
  background-color: #182025dd;
  color: rgb(236, 233, 233);
}

.myBtn .icon--dark {
  fill: #ff6b01;
}

.myBtn .icon--dark:hover {
  fill: #182025b1;
}

.footer__container--dark {
  background-color: #182025b1;
}

.tui-pagination .tui-page-btn--dark {
  color: rgb(236, 233, 233);
}

.tui-pagination .tui-page-btn--dark:hover {
  background-color: #d8a87b;
}

.team_modal_btn--dark {
  color: rgb(236, 233, 233);
}
