body {
  background-color: #182025dd;
  color: rgb(236, 233, 233);
}

.go-Top .icon {
  fill: #ff6b01;
}

.go-Top .icon:hover {
  fill: #182025b1;
}

.footer__container {
  background-color: #182025b1;
}
.team_modal_btn {
  color: rgb(236, 233, 233);
}

.tui-pagination .tui-page-btn {
  color: rgb(236, 233, 233);
}

.tui-pagination .tui-page-btn:hover {
  background-color: #fdab75;
}

.is-hidden {
  display: none;
}
