<header>
  <form class="search-form" id="search-form">
    <input
      type="text"
      name="searchQuery"
      autocomplete="off"
      placeholder="Search films..."
    />
    <button type="submit">
      <svg class="search-films icon" width="12" height="12">
        <use href="./images/symbol-defs.svg#icon-search"></use>
      </svg>
    </button>
  </form>
</header>

<body>
  <div class="glide">
    <div class="glide__track"  data-glide-el="track">
      <ul class="glide__slides ">
<li class="glide__slide"></li>
<li class="glide__slide"></li>
<li class="glide__slide"></li>
<li class="glide__slide"></li>
<li class="glide__slide"></li>
<li class="glide__slide"></li>
<li class="glide__slide"></li>
<li class="glide__slide"></li>
<li class="glide__slide"></li>
<li class="glide__slide"></li>
<li class="glide__slide"></li>
<li class="glide__slide"></li>
<li class="glide__slide"></li>
<li class="glide__slide"></li>
<li class="glide__slide"></li>
<li class="glide__slide"></li>
<li class="glide__slide"></li>
<li class="glide__slide"></li>
<li class="glide__slide"></li>
<li class="glide__slide"></li>
      </ul>
      <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><</button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">">></button>
      </div>
    </div>
  </div>

<div>
  <ul class="top-films"></ul>
</div>  

  
    <button type="button" class="load-more is-hidden">Load more</button>
    <p class="info-text is-hidden">We're sorry, but you've reached the end of search results.</p>
  </div>

<div class="load-gallery">
  <ul class="search-films"></ul>

<div id="tui-pagination-container" class="tui-pagination">
    <!-- <div class="pagination__container"> -->
    <div class="pagination__container_pages">
      <div class="pag-arrow arrow_left"></div>
      <div class="page-numbers" id="pagination"></div>
      <div class="pag-arrow arrow_right"></div>
    </div>
  </div>

  <p class="info-text is-hidden">
    We're sorry, but you've reached the end of search results.
  </p>

</div>

  
</body>

