<header >
  <form class="search-form" id="search-form">
    <input type="text" name="searchQuery" autocomplete="off" placeholder="Search films..." />
    <button type="submit"><svg class="search-films icon" width='12' height='12'>
        <use href="./images/symbol-defs.svg#icon-search"></use>
      </svg></button>
  </form>
</header>

<body>
    <ul class="top-films"></ul>
    <ul class="films">
      <!-- Картки зображень -->
    </ul>
    <div id="tui-pagination-container" class="tui-pagination">
    <!-- <div class="pagination__container"> -->
      <div class="pagination__container_pages">
        <div class="pag-arrow arrow_left"></div>
        <div class="page-numbers" id="pagination"></div>
        <div class="pag-arrow arrow_right"></div>
      </div>
    </div>
   
    <p class="info-text is-hidden">We're sorry, but you've reached the end of search results.</p>
  
 </body>