<footer class="footer__container">
    <div class="footer_up container">
        <div class="footer__logo_block">
            <a href="/src/index.html" class=" footer__logo">
                <svg width="20" height="20" class=" footer__icon">
                    <use href="./images/sprite.svg#logo-footer"></use>
                </svg>
                <span class="logo__name logo__name__footer">Filmoteka</span></a>
        </div>

        <div class="footer__soc">
            <div class="footer__app">
                <p class="footer__soc-text" data-lang="application">Our Application</p>
                <div class="footer__app-store">
                    <a href="http://#" class="app__link"><svg class="soc_icon icon_git " width="108px" height="32px">
                            <use href="./images/sprite.svg#Google_Play"></use>
                        </svg></a>
                    <a href="http://#" class="app__link"> <svg class="soc_icon icon_git " width="108px" height="32px">
                            <use href="./images/sprite.svg#App_Store"></use>
                        </svg></a>
                </div>
            </div>

            <div class="footer__soc--block">
                <div class="footer__support">
                    <p class="footer__soc-text" data-lang="support">Support</p>
                    <a href="mailto:" class="footer__soc-link">email@email.com</a>
                </div>
                <div class="footer__network">
                    <p class="footer__soc-text" data-lang="networks">Join our networks</p>
                    <div class="footer__networ--link">
                        <a href="http://" class="icon--hoverfocus icon--hoverfocus-footer"><svg
                                class="soc_icon icon-soc " width="25px" height="25px">
                                <use href="./images/sprite.svg#telegram"></use>
                            </svg>
                            <a href="http://" class="icon--hoverfocus icon--hoverfocus-footer"><svg
                                    class="soc_icon icon-soc " width="25px" height="25px">
                                    <use href="./images/sprite.svg#facebook"></use>
                                </svg>
                                <a href="http://" class="icon--hoverfocus icon--hoverfocus-footer"><svg
                                        class="soc_icon icon-soc " width="25px" height="25px">
                                        <use href="./images/sprite.svg#youtube"></use>
                                    </svg>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="footer">

        <div class="footer_text__block">
            <p class="footer__text">&#169 2020 | All Rights Reserved | </p>

        </div>
        <div class="footer_text__block">
            <p class="footer__text" data-lang="developereloped">Developereloped with</p>
            <span><svg class="icon__heart">
                    <use href="./images/sprite.svg#heart"></use>
                </svg>
            </span>
            <p class="footer__text"><span data-lang="by">by</span></p><button type="button" data-lang="students"
                class="team_modal_btn team-modal-open">GoIT
                Students</button>
        </div>

    </div>

    <div class="overlay team-modal-overlay">
        <div class="modal team-modal">

            <button type="button" class="modal__close-btn team-modal-close">
                <svg class="modal__close-icon" width="30" height="30">
                    <use href="./images/sprite.svg#close"></use>
                </svg>
            </button>

            <div class="glide teamSlider">
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                        <li class="glide__slide">
                            <div class="glide__slide__block">
                                <div class="glide__slide__block_in"> <img src="./images/tempoparyFoto.jpg"
                                        alt="Developer Developer" class="team__img" width="150px" heigth="150px">
                                    <div class="student">
                                        <p class="student__text student__text_name">Developer1</p>
                                        <p class="student__text">Developer</p>
                                        <div class="soc_icons">
                                            <a href="http://" class="icon--hoverfocus"><svg
                                                    class="soc_icon icon-linedin" width="20px" height="20px">
                                                    <use href="./images/sprite.svg#linkedin"></use>
                                                </svg>
                                            </a>
                                            <a href="http://" class="icon--hoverfocus">
                                                <svg class="soc_icon icon_git " width="20px" height="20px">
                                                    <use href="./images/sprite.svg#github"></use>
                                                </svg></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="glide__slide__block_in"> <img src="./images/tempoparyFoto.jpg"
                                        alt="Developer Developer" class="team__img" width="150px" heigth="150px">
                                    <div class="student">
                                        <p class="student__text student__text_name">Developer2</p>
                                        <p class="student__text">Developer</p>
                                        <div class="soc_icons">
                                            <a href="http://" class="icon--hoverfocus"><svg
                                                    class="soc_icon icon-linedin" width="20px" height="20px">
                                                    <use href="./images/sprite.svg#linkedin"></use>
                                                </svg>
                                            </a>
                                            <a href="http://" class="icon--hoverfocus">
                                                <svg class="soc_icon icon_git " width="20px" height="20px">
                                                    <use href="./images/sprite.svg#github"></use>
                                                </svg></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="glide__slide">
                            <div class="glide__slide__block">
                                <div class="glide__slide__block_in"> <img src="./images/tempoparyFoto.jpg"
                                        alt="Developer Developer" class="team__img" width="150px" heigth="150px">
                                    <div class="student">
                                        <p class="student__text student__text_name">Developer3</p>
                                        <p class="student__text">Developer</p>
                                        <div class="soc_icons">
                                            <a href="http://" class="icon--hoverfocus"><svg
                                                    class="soc_icon icon-linedin" width="20px" height="20px">
                                                    <use href="./images/sprite.svg#linkedin"></use>
                                                </svg>
                                            </a>
                                            <a href="http://" class="icon--hoverfocus">
                                                <svg class="soc_icon icon_git " width="20px" height="20px">
                                                    <use href="./images/sprite.svg#github"></use>
                                                </svg></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="glide__slide__block_in"> <img src="./images/tempoparyFoto.jpg"
                                        alt="Developer Developer" class="team__img" width="150px" heigth="150px">
                                    <div class="student">
                                        <p class="student__text student__text_name">Developer4</p>
                                        <p class="student__text">Developer</p>
                                        <div class="soc_icons">
                                            <a href="http://" class="icon--hoverfocus"><svg
                                                    class="soc_icon icon-linedin" width="20px" height="20px">
                                                    <use href="./images/sprite.svg#linkedin"></use>
                                                </svg>
                                            </a>
                                            <a href="http://" class="icon--hoverfocus">
                                                <svg class="soc_icon icon_git " width="20px" height="20px">
                                                    <use href="./images/sprite.svg#github"></use>
                                                </svg></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

               
               

            </div>

        </div>

    </div>



</footer>