<footer class="footer__container">
    <div class="footer">

        <div class="footer_text__block">
            <p class="footer__text">&#169 2020 | All Rights Reserved | </p>

        </div>
        <div class="footer_text__block">
            <p class="footer__text ">Developed with</p>
            <span><svg class="icon__heart">
                    <use href="./images/sprite.svg#heart"></use>
                </svg>
            </span>
            <p class="footer__text">by</p><button type="button" class="team_modal_btn">GoIT Students</button>
        </div>

    </div>

</footer>

<div class="team_modal is-hidden">

    <button type="button" class="teamModal__close__btn"><span><svg class="student__close__icon">
                <use href="./images/sprite.svg#close-modal" width="14px" heigth="14px"></use>
            </svg>
        </span></button>
    <ul class="team__list">
       <li class="team__item">
            <img src="./images/tempoparyFoto.jpg" alt="Team Lead Альона Мишко" class="team__img" width="150px"
                heigth="150px">
            <div class="student">
                <p class="student__text">Альона Мишко</p>
                <p class="student__text">Team Lead</p>
                <div class="soc_icons">
                    <a href="http://" class="icon--hoverfocus"><svg class="soc_icon icon-linedin " width="20px" height="20px">
                            <use href="./images/sprite.svg#linkedin"></use>
                        </svg>
                    </a>
                    <a href="http://" class="icon--hoverfocus">
                        <svg class="soc_icon icon_git " width="20px" height="20px">
                            <use href="./images/sprite.svg#github"></use>
                        </svg></a>
                </div>
            </div>
        </li>
        <li class="team__item">
            <img src="./images/tempoparyFoto.jpg" alt="Scrum master Надія Водвуд" class="team__img" width="150px"
                heigth="150px">
            <div class="student">
                <p class="student__text">Надія Водвуд</p>
                <p class="student__text">Scrum master</p>
                <div class="soc_icons">
                    <a href="http://" class="icon--hoverfocus"><svg class="soc_icon icon-linedin" width="20px" height="20px">
                            <use href="./images/sprite.svg#linkedin"></use>
                        </svg>
                    </a>
                    <a href="http://" class="icon--hoverfocus">
                        <svg class="soc_icon icon_git " width="20px" height="20px">
                            <use href="./images/sprite.svg#github"></use>
                        </svg></a>
                </div>
            </div>
        </li>
        <li class="team__item">
            <img src="./images/tempoparyFoto.jpg" alt="Dev Павло Безсінний" class="team__img" width="150px"
                heigth="150px">
            <div class="student">
                <p class="student__text">Павло Безсінний</p>
                <p class="student__text">Dev</p>
                <div class="soc_icons">
                    <a href="http://" class="icon--hoverfocus"><svg class="soc_icon icon-linedin " width="20px" height="20px">
                            <use href="./images/sprite.svg#linkedin"></use>
                        </svg>
                    </a>
                    <a href="http://" class="icon--hoverfocus">
                        <svg class="soc_icon icon_git " width="20px" height="20px">
                            <use href="./images/sprite.svg#github"></use>
                        </svg></a>
                </div>
            </div>
        </li>
        <li class="team__item">
            <img src="./images/tempoparyFoto.jpg" alt="Dev Світлана Коваленко" class="team__img" width="150px"
                heigth="150px">
            <div class="student">
                <p class="student__text">Світлана Коваленко</p>
                <p class="student__text">Dev</p>
                <div class="soc_icons">
                    <a href="http://" class="icon--hoverfocus"><svg class="soc_icon icon-linedin" width="20px" height="20px">
                            <use href="./images/sprite.svg#linkedin"></use>
                        </svg>
                    </a>
                    <a href="http://" class="icon--hoverfocus">
                        <svg class="soc_icon icon_git " width="20px" height="20px">
                            <use href="./images/sprite.svg#github"></use>
                        </svg></a>
                </div>
            </div>
        </li>
        <li class="team__item">
            <img src="./images/tempoparyFoto.jpg" alt="Dev Олександер Ніконов" class="team__img" width="150px"
                heigth="150px">
            <div class="student">
                <p class="student__text">Олександр Ніконов</p>
                <p class="student__text">Dev</p>
                <div class="soc_icons">
                    <a href="http://" class="icon--hoverfocus"><svg class="soc_icon icon-linedin" width="20px" height="20px">
                            <use href="./images/sprite.svg#linkedin"></use>
                        </svg>
                    </a>
                    <a href="http://" class="icon--hoverfocus">
                        <svg class="soc_icon icon_git " width="20px" height="20px">
                            <use href="./images/sprite.svg#github"></use>
                        </svg></a>
                </div>
            </div>
        </li>
        <li class="team__item">
            <img src="./images/tempoparyFoto.jpg" alt="Dev Аліна Баняс" class="team__img" width="150px" heigth="150px">
            <div class="student">
                <p class="student__text">Аліна Баняс</p>
                <p class="student__text">Dev</p>
                <div class="soc_icons">
                    <a href="http://" class="icon--hoverfocus"><svg class="soc_icon icon-linedin" width="20px" height="20px">
                            <use href="./images/sprite.svg#linkedin"></use>
                        </svg>
                    </a>
                    <a href="http://" class="icon--hoverfocus">
                        <svg class="soc_icon icon_git " width="20px" height="20px">
                            <use href="./images/sprite.svg#github"></use>
                        </svg></a>
                </div>
            </div>
        </li>
        <li class="team__item">
            <img src="./images/tempoparyFoto.jpg" alt="Dev Денис Володько" class="team__img" width="150px"
                heigth="150px">
            <div class="student">
                <p class="student__text">Денис Володько</p>
                <p class="student__text">Dev</p>
                <div class="soc_icons">
                    <a href="http://" class="icon--hoverfocus"><svg class="soc_icon icon-linedin" width="20px" height="20px">
                            <use href="./images/sprite.svg#linkedin"></use>
                        </svg>
                    </a>
                    <a href="http://" class="icon--hoverfocus">
                        <svg class="soc_icon icon_git " width="20px" height="20px">
                            <use href="./images/sprite.svg#github"></use>
                        </svg></a>
                </div>
            </div>
        </li>
        <li class="team__item">
            <img src="./images/tempoparyFoto.jpg" alt="Dev Олександр Катишев" class="team__img" width="150px"
                heigth="150px">
            <div class="student">
                <p class="student__text">Олександр Катишев</p>
                <p class="student__text">Dev</p>
                <div class="soc_icons">
                    <a href="http://" class="icon--hoverfocus"><svg class="soc_icon icon-linedin" width="20px" height="20px">
                            <use href="./images/sprite.svg#linkedin"></use>
                        </svg>
                    </a>
                    <a href="http://" class="icon--hoverfocus">
                        <svg class="soc_icon icon_git " width="20px" height="20px">
                            <use href="./images/sprite.svg#github"></use>
                        </svg></a>
                </div>
            </div>
        </li>
        <li class="team__item">
            <img src="./images/tempoparyFoto.jpg" alt="Dev Владислав Кременчук " class="team__img" width="150px"
                heigth="150px">
            <div class="student">
                <p class="student__text">Владислав Кременчук</p>
                <p class="student__text">Dev</p>
                <div class="soc_icons">
                    <a href="http://" class="icon--hoverfocus"><svg class="soc_icon icon-linedin" width="20px" height="20px">
                            <use href="./images/sprite.svg#linkedin"></use>
                        </svg>
                    </a>
                    <a href="http://" class="icon--hoverfocus">
                        <svg class="soc_icon icon_git " width="20px" height="20px">
                            <use href="./images/sprite.svg#github"></use>
                        </svg></a>
                </div>
            </div>
        </li>
        <li class="team__item">
            <img src="./images/tempoparyFoto.jpg" alt="Dev Анастасія Філіпенко" class="team__img" width="150px"
                heigth="150px">
            <div class="student">
                <p class="student__text">Анастасія Філіпенко</p>
                <p class="student__text">Dev</p>
                <div class="soc_icons">
                    <a href="http://" class="icon--hoverfocus"><svg class="soc_icon icon-linedin" width="20px" height="20px">
                            <use href="./images/sprite.svg#linkedin"></use>
                        </svg>
                    </a>
                    <a href="http://" class="icon--hoverfocus">
                        <svg class="soc_icon icon_git " width="20px" height="20px">
                            <use href="./images/sprite.svg#github"></use>
                        </svg></a>
                </div>
            </div>
        </li>
        <li class="team__item">
            <img src="./images/tempoparyFoto.jpg" alt="Dev Дмитро Шкільнюк" class="team__img" width="150px"
                heigth="150px">
            <div class="student">
                <p class="student__text">Дмитро Шкільнюк</p>
                <p class="student__text">Dev</p>
                <div class="soc_icons">
                    <a href="http://" class="icon--hoverfocus"><svg class="soc_icon icon-linedin" width="20px" height="20px">
                            <use href="./images/sprite.svg#linkedin"></use>
                        </svg>
                    </a>
                    <a href="http://" class="icon--hoverfocus">
                        <svg class="soc_icon icon_git " width="20px" height="20px">
                            <use href="./images/sprite.svg#github"></use>
                        </svg></a>
                </div>
            </div>
        </li>
        <li class="team__item">
            <img src="./images/tempoparyFoto.jpg" alt="Dev Таня Протас" class="team__img" width="150px" heigth="150px">
            <div class="student">
                <p class="student__text">Таня Протас</p>
                <p class="student__text">Dev</p>
                <div class="soc_icons">
                    <a href="http://" class="icon--hoverfocus"><svg class="soc_icon icon-linedin" width="20px" height="20px">
                            <use href="./images/sprite.svg#linkedin"></use>
                        </svg>
                    </a>
                    <a href="http://" class="icon--hoverfocus">
                        <svg class="soc_icon icon_git " width="20px" height="20px">
                            <use href="./images/sprite.svg#github"></use>
                        </svg></a>
                </div>
            </div>
        </li>
        <li class="team__item">
            <img src="./images/tempoparyFoto.jpg" alt="Dev Микита Столбін" class="team__img" width="150px"
                heigth="150px">
            <div class="student">
                <p class="student__text">Микита Столбін</p>
                <p class="student__text">Dev</p>
                <div class="soc_icons">
                    <a href="http://" class="icon--hoverfocus"><svg class="soc_icon icon-linedin" width="20px" height="20px">
                            <use href="./images/sprite.svg#linkedin"></use>
                        </svg>
                    </a>
                    <a href="http://" class="icon--hoverfocus">
                        <svg class="soc_icon icon_git " width="20px" height="20px">
                            <use href="./images/sprite.svg#github"></use>
                        </svg></a>
                </div>
            </div>
        </li>
    </ul>
</div>