<footer class="footer__container">
    <div class="footer_up container">
        <div class="footer__logo_block">
            <a href="/src/index.html" class=" footer__logo">
                <svg width="20" height="20" class=" footer__icon">
                    <use href="./images/sprite.svg#logo-footer"></use>
                </svg>
                <span class="logo__name logo__name__footer">Filmoteka</span></a>
        </div>

        <div class="footer__soc">
            <div class="footer__app">
                <p class="footer__soc-text" data-lang="application">Our Application</p>
                <div class="footer__app-store">
                    <a href="https://play.google.com/store/games" target="_blank" class="app__link" target="_blank"><svg class="soc_icon icon_git " width="108px" height="32px">
                            <use href="./images/sprite.svg#Google_Play"></use>
                        </svg></a>
                    <a href="https://www.apple.com/ua/app-store/"  target="_blank" class="app__link"> <svg class="soc_icon icon_git " width="108px" height="32px">
                            <use href="./images/sprite.svg#App_Store"></use>
                        </svg></a>
                </div>
            </div>

            <div class="footer__soc--block">
                <div class="footer__support">
                    <p class="footer__soc-text" data-lang="support">Support</p>
                    <a href="mailto:email@email.com" class="footer__soc-link">email@email.com</a>
                </div>
                <div class="footer__network">
                    <p class="footer__soc-text" data-lang="networks">Join our networks</p>
                    <div class="footer__networ--link">
                        <a href="https://web.telegram.org/k/"  target="_blank"class="icon--hoverfocus icon--hoverfocus-footer soc_icon"><svg
                                class="soc_icon icon-soc " width="25px" height="25px">
                                <use href="./images/sprite.svg#telegram"></use>
                            </svg>
                            <a href="https://uk-ua.facebook.com/" target="_blank" class="icon--hoverfocus icon--hoverfocus-footer soc_icon"><svg
                                    class="soc_icon icon-soc " width="25px" height="25px">
                                    <use href="./images/sprite.svg#facebook"></use>
                                </svg>
                                <a href="https://www.youtube.com/" target="_blank" class="icon--hoverfocus icon--hoverfocus-footer soc_icon"><svg
                                        class="soc_icon icon-soc " width="25px" height="25px">
                                        <use href="./images/sprite.svg#youtube"></use>
                                    </svg>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="footer">

        <div class="footer_text__block">
            <p class="footer__text">&#169 2023 | <span data-lang="reserved">All Rights Reserved</span>  | </p>

        </div>
        <div class="footer_text__block">
            <p class="footer__text" data-lang="developed">Developed with</p>
            <span><svg class="icon__heart">
                    <use href="./images/sprite.svg#heart"></use>
                </svg>
            </span>
            <p class="footer__text"><span data-lang="by">by</span></p><button type="button" data-lang="students"
                class="team_modal_btn team-modal-open">GoIT
                Students</button>
        </div>

    </div>

   



</footer>