<section class="film-section">
  <div class="films js-films-container">
    <ul class="top-films"></ul>

    <ul class="search-films"></ul>

    <button type="button" class="load-more is-hidden">Load more</button>
    <p class="info-text is-hidden">
      We're sorry, but you've reached the end of search results.
    </p>
    <button type="button" class="back-to-home go-home is-hidden">
      <svg class="icon">
        <use href="./images/sprite.svg#icon-circle-up"></use>
      </svg>
    </button>
  </div>
  <div id="pagination" class="tui-pagination"></div>
</section>
