<header class="header library">
  <div class="container header__container">
    <nav class="navigation library">
      <a href="/src/index.html" class="navigation__logo logo">
        <svg width="24" height="24">
          <use href="./images/sprite.svg#logo"></use>
        </svg>
        <span class="logo__name">Filmoteka</span>
      </a>
      <ul class="navigation__list">
        <li class="navigation__item">
          <a href="/src/index.html" class="navigation__link"
            ><svg width="12" height="12" class="navigation__icon">
              <use href="./images/sprite.svg#home"></use></svg
            >Home</a
          >
        </li>
        <li class="navigation__item">
          <a
            href="/src/my_library.html"
            class="navigation__link navigation__link--current-page js__my-lirbary-link"
            ><svg width="12" height="12" class="navigation__icon">
              <use href="./images/sprite.svg#book"></use></svg
            >My library</a
          >
        </li>
        <li class="navigation__item navigation__item--library js__sign-out-btn">
          <a href="/src/index.html" class="navigation__link"
            ><svg width="12" height="12" class="navigation__icon">
              <use href="./images/sprite.svg#signout"></use></svg
            >Sign out</a
          >
        </li>
      </ul>
    </nav>
    <ul class="list__button">
      <li>
        <button
          type="button"
          class="btn__modal btn__modal--library btn__watched"
        >
          Watched
        </button>
      </li>
      <li>
        <button type="button" class="btn__modal btn__modal--library btn__queue">
          Queue
        </button>
      </li>
    </ul>
  </div>
</header>
