<section class="film-section">
  <div class="films js-films-container container">
    <div class="library-empty">
      <h2 class="library-empty__title">Sorry :( This page is empty</h2>
      <img
        class="library-empty__img"
        src="./images/library-empty.webp"
        alt=""
      />
    </div>
    <ul class="library-films js-open-film-modal"></ul>

    <button class="go-Top" id="go-Top" title="Go to top">
      <svg class="icon">
        <use href="./images/sprite.svg#icon-circle-up"></use>
      </svg>
    </button>
  </div>
  <div id="tui-pagination-container" class="tui-pagination"></div>
</section>
