<header class="header library">
  <div class="container header__container library">
    <nav class="navigation library">
      <a href="/src/index.html" class="navigation__logo logo">
        <svg width="24" height="24">
          <use href="./images/sprite.svg#logo"></use>
        </svg>
        <span class="logo__name">Filmoteka</span>
      </a>
      <ul class="navigation__list">
        <li class="navigation__item">
          <a href="/src/index.html" class="navigation__link"
            ><svg width="12" height="12" class="navigation__icon">
              <use href="./images/sprite.svg#home"></use></svg
            ><span data-lang="home">Home</span></a
          >
        </li>
        <li class="navigation__item">
          <a
            href="/src/my_library.html"
            class="navigation__link navigation__link--current-page js__my-lirbary-link"
            ><svg width="12" height="12" class="navigation__icon">
              <use href="./images/sprite.svg#book"></use></svg
            ><span data-lang="library">My library</span></a
          >
        </li>
        <li class="navigation__item navigation__item--library js__sign-out-btn">
          <a href="/src/index.html" class="navigation__link" title="sign out"
            ><svg width="12" height="12" class="navigation__icon">
              <use href="./images/sprite.svg#signout"></use></svg
            ><span class="wrap-is-hidden" data-lang="signOut">Sign out</span></a
          >
        </li>
      </ul>
    </nav>
    <ul class="list__button">
      <li>
        <button
          type="button"
          class="btn__modal btn__modal--library btn__watched current"
          data-lang="watched"
        >
          Watched
        </button>
      </li>
      <li>
        <button
          type="button"
          class="btn__modal btn__modal--library btn__queue"
          data-lang="queue"
        >
          Queue
        </button>
      </li>
    </ul>
    <ul class="settings__list">
      <li class="settings__item">
        <button
          type="button"
          class="button settings__button settings__button--theme"
          id="theme-btn-lib"
          value="dark"
        >
          <svg class="settings__icon" width="14" height="14">
            <use href="./images/sprite.svg#theme"></use>
          </svg>
        </button>
      </li>
      <li class="settings__item">
        <button
          type="button"
          class="button settings__button"
          value="ua"
          data-btn="ua"
        >
          Ua
        </button>
      </li>
      <li class="settings__item">
        <button
          type="button"
          class="button settings__button btn-en active-select"
          value="en"
          data-btn="en"
        >
          En
        </button>
      </li>
    </ul>
  </div>
</header>
