<section>
  <div class="films js-films-container container">
    <ul class="library-films">
      <h1 class="library-empty__title is-hidden">
        Sorry :( This page is empty
      </h1>
      <img
        class="library-empty__img is-hidden"
        src="./images/library-empty.webp"
        alt=""
      />
    </ul>

    <button class="go-Top" id="go-Top" title="Go to top">
      <svg class="icon">
        <use href="./images/sprite.svg#icon-circle-up"></use>
      </svg>
    </button>
  </div>
</section>
