<div class="glide-lb container">
  <h2 class="caption" data-lang="recomend">Recommended most revenue movies</h2>
  <div class="glide-lb__track" data-glide-el="track">
    <ul class="glide-lb__slides js-open-film-modal">
      <li class="glide-lb__slide glide__slide-biger"></li>
      <li class="glide-lb__slide"></li>
      <li class="glide-lb__slide"></li>
      <li class="glide-lb__slide"></li>
      <li class="glide-lb__slide"></li>
      <li class="glide-lb__slide"></li>
      <li class="glide-lb__slide"></li>
      <li class="glide-lb__slide"></li>
      <li class="glide-lb__slide"></li>
      <li class="glide-lb__slide"></li>
      <li class="glide-lb__slide"></li>
      <li class="glide-lb__slide"></li>
      <li class="glide-lb__slide"></li>
      <li class="glide-lb__slide"></li>
      <li class="glide-lb__slide"></li>
      <li class="glide-lb__slide"></li>
      <li class="glide-lb__slide"></li>
      <li class="glide-lb__slide"></li>
      <li class="glide-lb__slide"></li>
      <li class="glide-lb__slide"></li>
    </ul>
  </div>
  <div class="glide-lb__arrows" data-glide-el="controls">
    <button class="glide-lb__arrow glide-lb__arrow--left" data-glide-dir="<">
      ᐊ
    </button>
    <button class="glide-lb__arrow glide-lb__arrow--right" data-glide-dir=">">
      ᐅ
    </button>
  </div>
</div>
