body{
  width: 1280px;
}

header{
  background-color: rgb(125, 177, 222);
  padding: 20px;
}

.is-hidden {
  display: none;
}

.glide__slides{
display: flex;
gap: 15px;
}

.glide__slide{

  width:  350px;
}

.top-films{
  display: flex;
  display: flex;
    flex-wrap: wrap;
    gap: 10px;
  /* flex-basis: calc(100% - 10px) / 3; */
}

.film__item{
  width: 395px;
    flex-basis: calc((100% - 20px) / 3);
    list-style: none;
}